# Per https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates
version: 2
updates:
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - skip-changelog
  ignore:
  - dependency-name: org.slf4j*
    versions:
    - ">= 0"

- package-ecosystem: docker
  directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.10.9"
  schedule:
    interval: weekly
  open-pull-requests-limit: 2
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - skip-changelog
  ignore:
    - dependency-name: "Dockerfile"
      versions: ["3.11.x", "3.12.x", "3.13.x"]

- package-ecosystem: docker
  directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.12.7"
  schedule:
    interval: weekly
  open-pull-requests-limit: 2
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - skip-changelog
  ignore:
    - dependency-name: "Dockerfile"
      versions: ["3.13.x"]

- package-ecosystem: docker
  directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.13.5"
  schedule:
    interval: weekly
  open-pull-requests-limit: 2
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - skip-changelog

- package-ecosystem: docker
  directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/amzn/2"
  schedule:
    interval: weekly
  open-pull-requests-limit: 2
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - skip-changelog

- package-ecosystem: docker
  directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/centos/7.9.2009"
  schedule:
    interval: weekly
  open-pull-requests-limit: 2
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - skip-changelog
  ignore:
    - dependency-name: "Dockerfile"
      versions: ["8.x"]

- package-ecosystem: docker
  directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/centos/8.3.2011"
  schedule:
    interval: weekly
  open-pull-requests-limit: 2
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - skip-changelog

- package-ecosystem: docker
  directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/clearlinux/latest"
  schedule:
    interval: weekly
  open-pull-requests-limit: 2
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - skip-changelog

- package-ecosystem: docker
  directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/debian/10"
  schedule:
    interval: weekly
  open-pull-requests-limit: 2
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - skip-changelog
  ignore:
    - dependency-name: "Dockerfile"
      versions: ["11.x"]

- package-ecosystem: docker
  directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/debian/9.13"
  schedule:
    interval: weekly
  open-pull-requests-limit: 2
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - skip-changelog
  ignore:
    - dependency-name: "Dockerfile"
      versions: ["10.x", "11.x"]

- package-ecosystem: docker
  directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/debian/testing"
  schedule:
    interval: weekly
  open-pull-requests-limit: 2
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - skip-changelog

- package-ecosystem: docker
  directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/debian/unstable"
  schedule:
    interval: weekly
  open-pull-requests-limit: 2
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - skip-changelog

- package-ecosystem: docker
  directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/fedora/32"
  schedule:
    interval: weekly
  open-pull-requests-limit: 2
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - skip-changelog
  ignore:
    - dependency-name: "Dockerfile"
      versions: ["33.x"]

- package-ecosystem: docker
  directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/fedora/33"
  schedule:
    interval: weekly
  open-pull-requests-limit: 2
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - skip-changelog

- package-ecosystem: docker
  directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/linuxmintd/19.3"
  schedule:
    interval: weekly
  open-pull-requests-limit: 2
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - skip-changelog

- package-ecosystem: docker
  directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/opensuse-leap/15.2"
  schedule:
    interval: weekly
  open-pull-requests-limit: 2
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - skip-changelog

- package-ecosystem: docker
  directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/opensuse-tumbleweed/20210401"
  schedule:
    interval: weekly
  open-pull-requests-limit: 2
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - skip-changelog

- package-ecosystem: docker
  directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/oraclelinux/7.9"
  schedule:
    interval: weekly
  open-pull-requests-limit: 2
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - skip-changelog
  ignore:
    - dependency-name: "Dockerfile"
      versions: ["8.x"]

- package-ecosystem: docker
  directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/oraclelinux/8.3"
  schedule:
    interval: weekly
  open-pull-requests-limit: 2
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - skip-changelog

- package-ecosystem: docker
  directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/registry.access.redhat.com/ubi8/ubi/8.3"
  schedule:
    interval: weekly
  open-pull-requests-limit: 2
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - skip-changelog

- package-ecosystem: docker
  directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/scientific/7.9"
  schedule:
    interval: weekly
  open-pull-requests-limit: 2
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - skip-changelog
  ignore:
    - dependency-name: "Dockerfile"
      versions: ["8.x"]

- package-ecosystem: docker
  directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/ubuntu/18.04"
  schedule:
    interval: weekly
  open-pull-requests-limit: 2
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - skip-changelog
  ignore:
    - dependency-name: "Dockerfile"
      versions: ["20.x"]

- package-ecosystem: docker
  directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/ubuntu/20.04"
  schedule:
    interval: weekly
  open-pull-requests-limit: 2
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - skip-changelog
