# Per https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates/
version: 2
updates:

  # Maintain dependencies for maven
  - package-ecosystem: "maven"
    directory: "/"
    labels:
      - "dependencies"
    schedule:
      interval: "weekly"

  # Maintain dependencies for GitHub actions
  - package-ecosystem: "github-actions"
    directory: "/"
    labels:
      - "skip-changelog"
    schedule:
      interval: "monthly"

  # Maintain dependencies for AlmaLinux 8
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/almalinux/8.9"
    ignore:
    - dependency-name: "almalinux"
      update-types: ["version-update:semver-major"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "monthly"

  # Maintain dependencies for AlmaLinux 9
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/almalinux/9.3"
    ignore:
    - dependency-name: "almalinux"
      update-types: ["version-update:semver-major"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "weekly"

  # Maintain dependencies for Alpine 3.16
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.16.9"
    ignore:
    - dependency-name: "alpine"
      update-types: ["version-update:semver-minor"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "weekly"

  # Maintain dependencies for Alpine 3.17
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.17.7"
    ignore:
    - dependency-name: "alpine"
      update-types: ["version-update:semver-minor"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "weekly"

  # Maintain dependencies for Alpine 3.18
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.18.6"
    ignore:
    - dependency-name: "Dockerfile"
      update-types: ["version-update:semver-major", "version-update:semver-minor"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "weekly"

  # Maintain dependencies for Alpine 3.19
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.19.1"
    ignore:
    - dependency-name: "Dockerfile"
      update-types: ["version-update:semver-major", "version-update:semver-minor"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "weekly"

  # Maintain dependencies for Amazon Linux 2023
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/amzn/2023"
    labels:
    - "skip-changelog"
    schedule:
      interval: "weekly"

  # Maintain dependencies for Debian 11
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/debian/11"
    ignore:
    - dependency-name: "debian"
      update-types: ["version-update:semver-major"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "weekly"

  # Maintain dependencies for Debian 12
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/debian/12"
    ignore:
    - dependency-name: "debian"
      update-types: ["version-update:semver-major"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "weekly"

  # Maintain dependencies for Debian "testing"
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/debian/testing"
    labels:
    - "skip-changelog"
    schedule:
      interval: "weekly"

  # Maintain dependencies for Debian unstable ("sid")
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/debian/unstable"
    labels:
    - "skip-changelog"
    schedule:
      interval: "weekly"

  # Maintain dependencies for Red Hat Universal Base Image 8
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/registry.access.redhat.com/ubi8/ubi/8.9"
    ignore:
    - dependency-name: "Dockerfile"
      update-types: ["version-update:semver-major"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "monthly"

  # Maintain dependencies for Red Hat Universal Base Image 9
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/registry.access.redhat.com/ubi9/ubi/9.3"
    labels:
    - "skip-changelog"
    schedule:
      interval: "weekly"

  # Maintain dependencies for Rocky 8
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/rocky/8.9"
    ignore:
    - dependency-name: "rockylinux"
      update-types: ["version-update:semver-major"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "monthly"

  # Maintain dependencies for Rocky 9
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/rocky/9.3"
    ignore:
    - dependency-name: "rockylinux"
      update-types: ["version-update:semver-major"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "monthly"

  # Maintain dependencies for Ubuntu 20.04
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/ubuntu/20.04"
    ignore:
    - dependency-name: "Dockerfile"
      update-types: ["version-update:semver-major"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "weekly"

  # Maintain dependencies for Ubuntu 22.04
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/ubuntu/22.04"
    ignore:
    - dependency-name: "Dockerfile"
      update-types: ["version-update:semver-major"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "weekly"
