# Per https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates
version: 2
updates:

  # maven
  - package-ecosystem: "maven"
    directory: "/"
    labels:
      - "dependencies"
    schedule:
      interval: "monthly"

  # GitHub actions
  - package-ecosystem: "github-actions"
    directory: "/"
    labels:
      - "skip-changelog"
    schedule:
      interval: "monthly"

  # AlmaLinux 8
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/almalinux/8.10"
    ignore:
    - dependency-name: "almalinux-8"
      update-types: ["version-update:semver-major"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "monthly"

  # AlmaLinux 9
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/almalinux/9.6"
    ignore:
    - dependency-name: "almalinux-9"
      update-types: ["version-update:semver-major"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "monthly"

  # Alpine 3.20
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.20.8"
    ignore:
    - dependency-name: "Dockerfile"
      update-types: ["version-update:semver-patch"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "monthly"

  # Alpine 3.21
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.21.5"
    ignore:
    - dependency-name: "Dockerfile"
      update-types: ["version-update:semver-patch"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "monthly"

  # Alpine 3.22
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.22.2"
    ignore:
    - dependency-name: "Dockerfile"
      update-types: ["version-update:semver-patch"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "monthly"

  # Amazon Linux 2023
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/amzn/2023"
    labels:
    - "skip-changelog"
    schedule:
      interval: "monthly"

  # Debian 11
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/debian/11"
    ignore:
    - dependency-name: "debian"
      update-types: ["version-update:semver-major"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "monthly"

  # Debian 12
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/debian/12"
    ignore:
    - dependency-name: "debian"
      update-types: ["version-update:semver-major"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "monthly"

  # Debian 13
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/debian/13"
    ignore:
    - dependency-name: "debian"
      update-types: ["version-update:semver-major"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "monthly"

  # Debian "testing"
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/debian/testing"
    labels:
    - "skip-changelog"
    schedule:
      interval: "monthly"

  # Debian "sid" (unstable)
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/debian/unstable"
    labels:
    - "skip-changelog"
    schedule:
      interval: "weekly"

  # Red Hat Universal Base Image 8
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/registry.access.redhat.com/ubi8/ubi/8.10"
    ignore:
    - dependency-name: "Dockerfile"
      update-types: ["version-update:semver-major"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "monthly"

  # Red Hat Universal Base Image 9
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/registry.access.redhat.com/ubi9/ubi/9.7"
    labels:
    - "skip-changelog"
    schedule:
      interval: "monthly"

  # Rocky 8
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/rocky/8.10"
    ignore:
    - dependency-name: "rockylinux/rockylinux"
      update-types: ["version-update:semver-major"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "monthly"

  # Rocky 9
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/rocky/9.6"
    ignore:
    - dependency-name: "rockylinux/rockylinux"
      update-types: ["version-update:semver-major"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "monthly"

  # Ubuntu 22.04
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/ubuntu/22.04"
    ignore:
    - dependency-name: "Dockerfile"
      update-types: ["version-update:semver-major"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "monthly"

  # Ubuntu 24.04
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/ubuntu/24.04"
    ignore:
    - dependency-name: "Dockerfile"
      update-types: ["version-update:semver-major"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "monthly"

  # Ubuntu 25.04
  - package-ecosystem: "docker"
    directory: "src/test/resources/org/jvnet/hudson/plugins/platformlabeler/ubuntu/25.04"
    ignore:
    - dependency-name: "Dockerfile"
      update-types: ["version-update:semver-major"]
    labels:
    - "skip-changelog"
    schedule:
      interval: "monthly"
